<amp-sidebar id="sidebar-left"
  class="ap--ampsidebar"
  layout="nodisplay"
  side="left">
  <nav toolbar="(min-width: 768px)"
    toolbar-target="ap--sidebar-content">

    <ul>
      <section class="ap-o-sidebar-section">
        {% do doc.styles.addCssFile('css/components/organisms/sidebar2.css') %}

        <div class="ap-o-sidebar">
          {% include '/views/partials/format-toggle.j2' %}

          <div class="nav">
            {% macro nav_tree(root, iteration=1) -%}
              <amp-accordion class="nav-list level-{{ iteration }}">
                {% set collections = root.collections() %}
                {% set documents = root.list_docs(locale=doc.locale)|list %}
                {% set items = (collections + documents)|sort(attribute='order') %}

                {% for item in items %}

                  {% if '<Collection' in item|pprint %}
                    {% set collection = item %}
                    <section class="nav-item">
                    {# TODO : check if amp-accordion expects headline elements as first section child #}
                      <h4 class="nav-headline level-{{ iteration }}">
                        <div class="nav-item-link level-{{ iteration }}">{{ collection.title }}</div>
                        <div class="nav-icon">
                          {% if iteration==1 %}
                            {% do doc.icons.useIcon('icons/angle-down-solid.svg') %}
                            <svg class="ap-a-ico"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
                          {% else %}
                            {% do doc.icons.useIcon('icons/angle-down-light.svg') %}
                            <svg class="ap-a-ico light"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-light"></use></svg>
                          {% endif %}
                        </div>
                      </h4>
                      {{ nav_tree(item, iteration=iteration+1) }}
                    </section>
                    {% elif '<Document' in item|pprint %}
                    {% set document = item %}
                    <section class="nav-item level-{{ iteration }}">
                      <h4 class="nav-item-link">
                        <a class="nav-link" href="{{ document.url.path }}">
                          {{ document.title }}
                        </a>
                      </h4>
                      <h4></h4>
                    </section>
                  {% endif %}

                {% endfor %}
              </amp-accordion>
            {%- endmacro %}

            {{ nav_tree(root=g.collection('/content/amp-dev/documentation/guides-and-tutorials')) }}
          </div>
        </div>
      </section>
    </ul>
  </nav>
</amp-sidebar>
