<amp-sidebar id="sidebar-left"
  class="ap--ampsidebar"
  layout="nodisplay"
  side="left">
  <nav toolbar="(min-width: 768px)"
    toolbar-target="ap--sidebar-content">

    <ul>
      <section class="ap-o-sidebar-section">
        {% do doc.styles.addCssFile('css/components/organisms/sidebar--.css') %}
        <div class="ap-o-sidebar">
          {% include '/views/partials/format-toggle.j2' %}

          <div class="nav">
            {% macro nav_tree(root) -%}
              <ul class="nav-list">
                {% set collections = root.collections() %}
                {% set documents = root.list_docs(locale=doc.locale)|list %}
                {% set items = (collections + documents)|sort(attribute='order') %}

                {% for item in items %}
                {% if '<Collection' in item|pprint %}
                {% set collection = item %}
                <li style="font-weight: bold;">Coll: {{ collection.title }}</li>
                <li>{{ nav_tree(item) }}</li>
                {% elif '<Document' in item|pprint %}
                {% set document = item %}
                <li>Doc: {{ document.title }}</li>
                {% endif %}
                {% endfor %}
              </ul>
              {%- endmacro %}

              {{ nav_tree(root=g.collection('/content/amp-dev/documentation/guides-and-tutorials')) }}
          </div>
        </div>
      </section>
    </ul>
  </nav>
</amp-sidebar>
