<amp-sidebar id="sidebar-left"
  class="ap--ampsidebar"
  layout="nodisplay"
  side="left">
  <nav toolbar="(min-width: 768px)"
    toolbar-target="ap--sidebar-content">

    <ul>
      <section class="ap-o-sidebar-section">
        {% do doc.styles.addCssFile('css/components/organisms/sidebar.css') %}
        <div class="ap-o-sidebar">
          {% include '/views/partials/format-toggle.j2' %}

          <div class="nav">
            {% macro nav_tree(root, iteration=1, depth=None) -%}
              {% if not depth or iteration <= depth %}
                <ul class="nav-list level-{{ iteration }}">
                    {% set collections = root.collections() %}
                    {% set documents = root.list_docs(locale=doc.locale)|list %}
                    {% set items = (collections + documents)|sort(attribute='order') %}

                    {% for item in items %}

                      {% if '<Collection' in item|pprint %}
                        {% set collection = item %}
                        <p>Coll: {{ collection.title }}</p>

                        {{ nav_tree(collection, iteration=iteration+1, depth=depth) }}

                      {% elif '<Document' in item|pprint %}
                        {% set document = item %}
                        <p>Doc: {{ document.title }}</p>


                      {% endif %}
                    {% endfor %}

                </ul>
              {% endif %}
              {%- endmacro %}

              {% set split_path = doc.collection.collection_path.split('/') %}
              {% set current_path = '/'.join(split_path[:3]) %}
              {{ nav_tree(root=g.collection(current_path)) }}
          </div>
        </div>
      </section>
    </ul>
  </nav>
</amp-sidebar>
