@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text.scss';

@import 'components/organisms/_sidebar.scss';

amp-sidebar {
  background: color('whisper');
}

nav[toolbar] {
  top: 120px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 768px){
    height: 100vh;
    position: sticky;
    overflow: auto;
    max-height: calc(100vh - 168px);
  }

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(color('black'), 0.10);
  }

  & > ul {
    margin: 0;
    padding: 0;
  }
}

.#{utility('ampsidebar')} {
  max-width: 90vw;
  @media (max-width: 767px) {
    nav {
      width: 100vw;
    }
  }
}

.#{organism('sidebar')} {
  @include sidebar;

  .nav {
    @include sidebar-nav;

    &-list {
      @include sidebar-nav-list;

      &.level-1 {
        @include sidebar-nav-list-level-1;
      }

      .nav-list {
        @include sidebar-nav-list-sublevels;
      }
    }

    &-item {
      @include sidebar-nav-item;
      background-color: transparent;
      border: none;
      outline: none;

      .i-amphtml-accordion-header {
        cursor: pointer;
        background-color: transparent;
        padding: 0;
        border: none;
      }

      &-level-1 {
        @include sidebar-nav-item-level-1;

        .nav-item-link-level-1  {
          @include sidebar-nav-link-level-1;
        }
        &[expanded] {
          // TODO: @include sidebar-nav-link-active;
          // .nav-item-link-level-2 {
          //   @include sidebar-nav-link-active;
          // }
          .nav-icon-level-1 .#{atom('ico')} {
            @include sidebar-nav-trigger-state;
          }
        }
      }

      &-level-2 {
        .nav-item-link-level-2 {
          @include sidebar-nav-link-level-2;
        }
        &[expanded] {
          // TODO: @include sidebar-nav-link-active;
          // .nav-item-link-level-2 {
          //   @include sidebar-nav-link-active;
          // }
          @include sidebar-nav-link-active;
          .nav-icon-level-2 .#{atom('ico')} {
            @include sidebar-nav-trigger-state;
          }
        }
      }

      &-level-3 {
        margin-left: 24px;
        .nav-item-link-level-3 {
          @include sidebar-nav-link-level-3;
        }
      }

      &.active > .nav-link {
        // TODO: @include sidebar-nav-link-active;
        // .nav-item-link-level-2 {
        //   @include sidebar-nav-link-active;
        // }
      }
    }

    &-item-tutorial-divider {
      @include sidebar-nav-item-tutorial-divider;
    }

    &-item-link {
      @include sidebar-nav-link;

      &:hover {
        @include sidebar-nav-link-hover;
      }
    }

    &-icon .#{atom('ico')} {
      @include sidebar-nav-icon;
    }

    &-icon-level-1 .#{atom('ico')} {
      @include sidebar-nav-icon-level-1;
    }

    &-icon-level-2 .#{atom('ico')} {
      @include sidebar-nav-icon-level-2;
    }

    &-trigger {
      outline: none;
      margin: 0;
    }

    &-type-icon {
      @include sidebar-type-icon;
    }

    span.nav-item-link + .nav-trigger {
      width: calc(100% + 15px);
    }
  }

  &-section {
    max-width: 100%;
  }
}
